name: Publish Release

on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true

jobs:
  publish-release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - run: corepack enable
      - run: yarn install --immutable
      - uses: MetaMask/action-publish-release@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: yarn build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: publish-release-artifacts-${{ github.sha }}
          retention-days: 4
          include-hidden-files: true
          path: |
            ./dist
            ./node_modules/.yarn-state.yml

  publish-npm-dry-run:
    needs: publish-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - run: corepack enable
      - run: yarn install --immutable
      - name: Restore build artifacts
        uses: actions/download-artifact@v6
        with:
          name: publish-release-artifacts-${{ github.sha }}
      - name: Dry Run Publish
        run: npm publish --dry-run
        env:
          SKIP_PREPACK: true

  publish-npm:
    needs: publish-npm-dry-run
    runs-on: ubuntu-latest
    environment: npm-publish
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org
      - run: corepack enable
      - run: yarn install --immutable
      - name: Restore build artifacts
        uses: actions/download-artifact@v6
        with:
          name: publish-release-artifacts-${{ github.sha }}
          path: ./dist
      - name: Publish to npm
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          SKIP_PREPACK: true
